@using CarDealership.Models.BrandViewModels
@model CreateBrandViewModel
@{
    ViewData["Title"] = "Add Brand";
}

<div class="container" style="min-height:75vh;">
    <h2>Добави Марка</h2>
    <form method="post" asp-action="Create">
        <div class="form-group">
            <label asp-for="@Model.Brand.Name" class="form-label">Име</label>
            <input asp-for="@Model.Brand.Name" class="form-control" />
            <span asp-validation-for="@Model.Brand.Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Създай Марка</button>
    </form>
    <a asp-action="Index" class="btn btn-secondary mt-3">Върни се към списъка с Марки</a>
</div>