@model CarDealership.Models.Model
@{
    ViewData["Title"] = "Add Model";
}

<div class="container" style="min-height:75vh;">
    <h2>Добави Модел</h2>
    <form method="post" asp-action="Create">
        <div class="form-group">
            <label asp-for="Name" class="form-label">Име</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BrandId" class="form-label">Марка</label>
            <select asp-for="BrandId" asp-items="@(new SelectList(ViewBag.Brands, "BrandId", "Name"))" class="form-control">
                <option value="">Избери Марка</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Създай Модел</button>
    </form>

    <a asp-action="Index" class="btn btn-secondary mt-3">Върни се към списъка с модели</a>
</div>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}