@using CarDealership.Models.ModelViewModels
@model EditModelViewModel
@{
    ViewData["Title"] = "Edit Model";
}

<div class="container" style="min-height:75vh;">
    <h2>Редактирай Модел</h2>
    <form method="post" asp-action="EditPost">
        <input type="hidden" asp-for="Model.ModelId" />

        <div class="form-group">
            <label asp-for="Model.Name" class="form-label">Име</label>
            <input asp-for="Model.Name" class="form-control" />
            <span asp-validation-for="Model.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Model.Brand" class="form-label">Марка</label>
            <select asp-for="Model.BrandId" asp-items="@(new SelectList(ViewBag.Brands, "BrandId", "Name"))" class="form-control">
                <option value="">Избери Марка</option>
            </select>
            <span asp-validation-for="Model.BrandId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Обнови Модела</button>
    </form>

    <a asp-action="Index" class="btn btn-secondary mt-3">Върни се към списъка с модели</a>
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}