@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link" style="border: 1px solid black; border-radius: 20px; padding: 8px 20px; transition: background-color 0.3s; color:black" onmouseover="this.style.borderColor='transparent';this.style.backgroundColor='#D2042D'; this.style.color='white';" onmouseout="this.style.borderColor='black';this.style.backgroundColor=''; this.style.color='black';">
                    Излез
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" style="border: 1px solid black; border-radius: 20px; padding: 8px 20px; transition: background-color 0.3s;color:black"
               onmouseover="this.style.borderColor='transparent';this.style.backgroundColor='#08c2df'; this.style.color='white';" onmouseout="this.style.borderColor='black';this.style.backgroundColor=''; this.style.color='black';">Регистрирай се</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" style="border: 1px solid black; border-radius: 20px; padding: 8px 20px; transition: background-color 0.3s;color:black"
               onmouseover="this.style.borderColor='transparent';this.style.backgroundColor='#08c2df'; this.style.color='white';" onmouseout="this.style.borderColor='black';this.style.backgroundColor=''; this.style.color='black';">Влез</a>
        </li>
    }
</ul>
