@model CarDealership.Models.Brand
@{
    ViewData["Title"] = "Edit Brand";
}

<div class="container" style="min-height:75vh;">
    <h2>Редактирай Марка</h2>
    <form method="post" asp-action="Edit">
        <input type="hidden" asp-for="BrandId" />

        <div class="form-group">
            <label asp-for="Name" class="form-label">Име</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Обнови Марка</button>
    </form>

    <a asp-action="Index" class="btn btn-secondary mt-3">Върни се към списъка с Марки</a>
</div>