@model IEnumerable<CarDealership.Models.Brand>
@{
    ViewData["Title"] = "Brands List";
}

<div class="container">
    <h2>Списък с Марки</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Име</th>
                <th>Опции</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var brand in Model)
            {
                <tr>
                    <td>@brand.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@brand.BrandId" class="btn btn-primary">Редактирай</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-end mb-3">
        <a asp-action="Create" class="btn btn-success d-flex align-items-center border-0" style="background-color:#3DC26A">
            Добави нова Марка
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" class="ps-2" viewBox="0 0 448 512"><path fill="#ffffff" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" /></svg>
        </a>
    </div>
</div>
